.showMore {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    margin-top: 5px;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
}
    
.cardsContainer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.squareButton{
    color: white;
     height: 30px;
    border: none;
    cursor: pointer;

}

.blackBackground {
    background-color: black;
    width: 70%;
}

.blueBackground {
    background-color: #00C0EE;
    width: 150px;
    margin-top: 60px;
}

#cardList > li {
    padding-bottom: 20px;
}

#cardList  li  span {
    color:gray; 
    font-size:0.9rem; 
    margin-top:5px;
}

select{
    height: 40px;
    width: 40%;
    border: solid 2px gray;
    margin-top: 10px;
}

.hidden {
    display: none;
}