.filterSection {
    margin: 10px 0;
}
.filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
