@import "reset";
@import "tags";
@import "cards";
@import "filter";

.headerContainer {
    grid-row: 1;
    display: flex;
    padding: 15px 10% 10px 10%;
    justify-content: space-between;
}

.notification {
    position: absolute;
    top: 10px; left: 8px;
    background-color: #00d6d6;
    width: 15px; height: 15px;
    color: white;
    border-radius: 50%;
    font-size: 0.9rem;
    text-align: center;
}


